<!doctype html>
<html lang="pt-br">
<head>
    {%block head%}
    <title>Phrases</title>
    {%endblock%}

    <link rel="stylesheet" href="/style.css">
    <!--<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />-->
</head>
<body>
    <header >
       <nav>
            <ul class="links">
                <li><a href="/" class="active">Phrases</a></li>
            </ul>
       </nav>
         
               <div class="input-filter">
       <input type="text" name="" id="inputfilter" placeholder="Buscar por autor, palavra-chave...">
       </div>
        
    </header>
    <h1 id ='h1'></h1>
<script src="../filter.js"></script>

    {%block content %}
    {%endblock%}
  <footer class="footer" >
    <p>Feito por Arcanjo</p>
  </footer>
</body>
</html>