<!doctype html>
<html lang="pt-br">
<head>
    {%block head%}
    <title>Phrases</title>
    {%endblock%}

    <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
    <header >
       <nav>
            <ul class="links">
                <li><a href="/" class="active">Phrases</a></li>
            </ul>
         
            
              <input type="text" name="" id="inputfilter" placeholder="Buscar por autor, palavra-chave...">
        
             
            <ul class="linksbuttonadd">
                <li><a class="buttonadd" href="/phrases/addphrase">ADD PHRASE</a></li>
                <li><span href="/accounts" id="my_account" class="my_account"><i class="fas fa-user-circle"></i></span> </li>
            </ul>

       </nav>
    </header>

    <h1 id ='h1'></h1>
<div class="modalaccount" id="modalaccount">
    <h3>Olá, Arcanjo</h3><hr>
    <ul>
      <li><a href=""><i class="fas fa-heart"></i>Minha coleção</a></li>
    </ul>
</div>

    {%block content %}
    {%endblock%}
  <footer class="footer" >
    <p>Com ❤️ Arcanjo Cassiel Ferriera Nogueira</p>
  </footer>
<script src="../index.js"></script>
</body>
</html>