<!doctype html>
<html lang="pt-br">
<head>
    {%block head%}
    <title>Phrases</title>
    {%endblock%}

    <link rel="stylesheet" href="/style.css">
    <!--<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />-->
</head>
<body>
    <header >
       <nav>
            <ul class="links">
                <li><a href="/" class="active">Phrases</a></li>
                <li><a href="/addphrases">Add phrases</a></li>
            </ul>
       </nav>
    </header>

    {%block content %}
    
    {%endblock%}
  
</body>
</html>