{% extends "layout.njk" %}

{% block  content %}

{# Primeiro Modelo #}
<div class="createphrase">
<form class="phrase"  method="POST" action="/phrases">
<section class="editphrase">

{%include "phrases/fields.njk"%}


</section>
</form>
</div>
{# Segundo Modelo #}
{% endblock  content %}