{% extends "layout.njk" %}

{% block  content %}

{# Primeiro Modelo #}
<div class="createphrase">
<form class="phrase"  method="POST" action="/phrases">
<section class="editphrase">
  <div class="item">
            <label for="phrase">Frase</label>
            <div>
               <textarea name="phrase" id="phrase" cols="50" rows="15" placeholder="Insira a frase"></textarea>
            </div>
    </div>


  <div class="item">
  <label for="author">Autor</label>
            <div>
             <input type="text" name="author" id="author" placeholder="Autor">
            </div>
    </div>

  <div class="item">
   <label for="photograph">Imagem URL</label>
            
            <div>
               <input type="url" name="photograph" placeholder="https://" id="photograph">
            </div>
        </div>

<button type="submit">Salvar</button>
</section>
</form>
</div>
{# Segundo Modelo #}
{% endblock  content %}