
{% extends "layout.njk" %}

{% block  content %}

{# Primeiro Modelo #}
<div class="createphrase">
     <section class="editphrase">

          <form class="phrase phraseform"  method="POST" action="/phrases?_method=PUT">
               {%include "phrases/fields.njk"%}
               <input type="hidden" name="id" value="{{phrase.id}}">
          </form>

          <form class="phrasedelete" id="form-delete" action="/phrases?_method=DELETE" method="post">
                    <input type="hidden" name="id" value="{{phrase.id}}" />
                    <button type="submit">Deletar</button>
          </form>

<script >
const formdelete = document.querySelector('#form-delete')

formdelete.addEventListener("submit", event=>{
    const confrimation = confirm("Tem certeza que deseja deletar?")
    if (!confirmation) {
        event.preventDefault()
    }
})

</script>
</section>
</div>
{# Segundo Modelo #}
{% endblock  content %}