  <div class="item">
            <label for="phrase">Frase</label>
            <div>
               <textarea name="phrase" id="phrase" cols="50" rows="15" placeholder="Insira a frase" >{{phrase.phrase}}</textarea>
                
            </div>
    </div>

  <div class="item">
  <label for="author">Autor</label>
            <div>
             <input type="text" name="author" id="author" placeholder="Autor" value="{{phrase.author}}">
            </div>
    </div>

  <div class="item">
   <label for="photograph">Imagem URL</label>
            
            <div>
               <input type="url" name="photograph" placeholder="https://" id="photograph" value="{{phrase.photograph}}">
            </div>
    </div>

<button type="submit">Salvar</button>