  <div class="item">
            <label for="phrase">Frase</label>
            <div>
               <textarea name="phrase" id="phrase" cols="50" rows="15" placeholder="Insira a frase" >{{phrase.phrase}}</textarea>
                
            </div>
    </div>

  <div class="item">
  <label for="author">Autor</label>
            <div>
             <input class="input-text" type="text" name="author" id="author" placeholder="Autor" value="{{phrase.author}}">
            </div>
    </div>

  <div class="item">
   <label for="keyword">Palvras chaves</label>
            
            <div>
               <input class="input-text"t type="text" name="keyword" placeholder="Separe por virgula. Ex.: Amor, Paixão, Slidariedade" id="keyword" value="{{phrase.keyword}}">
            </div>
    </div>
      <div class="item">
       <label for="image_url">URL da imagem</label>
      
         <div>
            <input  class="input-url"type="url" name="image_url" placeholder="https://" id="image_url" value="{{phrase.image_url}}">
         </div>
      </div>
      <button type="submit">Salvar</button>

