{% extends "layout.njk" %}

{% block  content %}
<div class="phraseList">
<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        <span class="author">Lorem Ipsum</span>
    </div>
</div>

<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        <span class="author">Lorem Ipsum</span>
    </div>
</div>

<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        <span class="author">Lorem Ipsum</span>
    </div>
</div>

<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        <span class="author">Lorem Ipsum</span>
    </div>
</div>

<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        <span class="author">Lorem Ipsum</span>
    </div>
</div>
</div>
{% endblock  content %}