{% extends "layout.njk" %}

{% block  content %}
<div><a href="">ADD PHRASE</a></div>
<div class="phraseList">
<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        
        <div class="content_child">
        <span class="author">Lorem Ipsum</span> <span class="posted_in">123444</span>
        </div>
    </div>
</div>

<div class="thought-card">
    <div class="content">
        <p class="phrase">Mollit sunt fugiat ad ad nisi fugiat deserunt consequat consequat id sunt amet. Cupidatat id incididunt laborum deserunt velit. Ipsum ipsum non magna consequat deserunt nisi enim.</p>
        
        <div class="content_child">
        <span class="author">Lorem Ipsum</span> <span class="posted_in">123444</span>
        </div>
    </div>
</div>
</div>
{% endblock  content %}