{% extends "layout.njk" %}

{% block  content %}

<a class="buttonadd" href="/phrases/addphrase">ADD PHRASE</a>

<div class="phraseList">
{%for phrase in phrases%}
<div class="thought-card">
    <div class="content">
        <p class="phrase">{{phrase.phrase}}</p>
        <div class="content_child">

            <a class="view_image" href="/phrases/{{phrase.id}}/phraseimage" class="button">Ver imagem</a>

            <span class="author">{{phrase.author}}</span>
            
            <span class="posted_in">{{phrase.posted_in}}</span>
        </div>
    </div>
</div>
    {%endfor%}

</div>
{% endblock  content %}