{% extends "layout.njk" %}

{% block  content %}


    <a class="buttonadd" href="./addphrase">ADD PHRASE</a>


<div class="phraseList">
<div class="thought-card">

    <div class="content">
        <div class="phrase-image" style="background:url({{phrase.image_url}}) no-repeat center center/cover">
        <p class="phrase">{{phrase.phrase}}</p>

        <div class="content_child">
            <span class="author">{{phrase.author}}</span>

        <a class="edit" href="/phrases/{{phrase.id}}/edit" class="button">Editar</a>
            <span class="posted_in">{{phrase.posted_in}}</span>
        </div>
        </div>


    </div>
</div>

</div>
{% endblock  content %}