{% extends "layout.njk" %}

{% block  content %}
<div class="phraseList">
<div class="thought-card">

    <div class="content">
        <p class="phrase">{{phrase.phrase}}</p>
        <span class="author">{{phrase.author}}</span>
    </div>
    
</div>

</div>
{% endblock  content %}