@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
:root {
    --primary-color: #F4F4F4;
    --secundary-color: #3F57D3;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color)
}

header {
    background-color: var(--secundary-color);
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

nav .linksbuttonadd {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .linksbuttonadd .my_account {
    text-decoration: none;
    color: white;
    margin-left: 1.4rem;
}

nav #inputfilter {
    height: 38px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 3px 10px;
}

.buttonadd {
    color: white;
    text-decoration: none;
    width: 7rem;
    background-color: #00ce71;
    height: 2.5rem;
    top: 95px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

nav .links a {
    position: relative;
    text-decoration: none;
}

nav .links li a.active {
    font-weight: bold;
    color: var(--primary-color);
}

nav .links a:hover {
    color: var(--primary-color);
}

nav .links li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

nav .links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}


/* phraseList */

.phraseList {
    padding: 4rem 1rem;
}


/* Card */

.thought-card {
    background-color: rgb(236, 233, 233);
    width: 80%;
    margin: 45px auto;
    box-shadow: 0px 2px 6px -1px #6e5555;
    animation: up 200ms ease;
}

.thought-card .content {
    padding: 10px;
}

.thought-card .content .content_child {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phrase {
    font-size: 1.125rem;
    line-height: 1.3;
    padding: 1rem;
}

.author {
    font-size: .75rem;
    font-weight: bold;
    padding: 1rem;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px)
    }
    to {
        opacity: 1;
    }
}


/* editphrase */

.createphrase {
    width: 100%;
    display: flex;
    justify-content: center;
}

.phraseform {
    background: #3174a0;
    margin: 115px 4% 3rem;
    border-radius: 15px;
    box-shadow: 0px 2px 3px 2.5px rgba(0, 0, 0, 0.4);
}

.editphrase .item label {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    font-weight: bold;
    color: #000000;
    padding: 3px 8px;
}

textarea {
    font-size: 1.1em !important;
    font-weight: bold;
    overflow: hidden;
    resize: vertical;
    border-radius: 5px;
    width: 100%;
    overflow: auto;
    margin-top: unset !important;
    line-height: 1.238;
    padding: 10px;
}

::placeholder {
    font-size: 14px;
    font-weight: bold;
}


/* Input create */

.input-text,
.input-url {
    width: 100%;
    height: 38px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    border: none;
    padding: 3px 10px;
}

.phraseform button[type=submit] {
    width: 50%;
    border-radius: 8px;
    background-color: #00ce71;
    font-size: 16px;
    color: white;
    height: 40px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    margin: 1rem 25% 0;
    cursor: pointer;
}

a.edit {
    width: 70px;
    border-radius: 8px;
    background-color: #00ce71;
    color: white;
    height: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .4);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.view_image {
    font-size: 16px;
    background-color: #00ce71;
    padding: .30rem;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.phrasedelete {
    height: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.phrasedelete button[type=submit] {
    width: 50%;
    border-radius: 8px;
    background-color: lightcoral;
    font-size: 16px;
    color: white;
    height: 40px;
    margin: 1rem 25% 0;
    cursor: pointer;
    margin-bottom: 2rem;
}

.buttonadd:hover {
    background-color: #26b977;
}

.phraseimage {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}

.phrasephraseimage,
.authorphraseimage {
    padding: 1rem;
}

.phrasephraseimage {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: bold;
}

.authorphraseimage {
    font-size: 1rem;
    font-weight: bold;
}

.footer {
    background-color: var(--secundary-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .4rem;
    font-weight: bold;
    color: white;
}

@media (max-width:670px) {
    header {
        height: 8rem;
    }
    nav #inputfilter {
        width: 100%;
    }
    nav {
        display: grid;
    }
    .links {
        grid-area: linkphrase;
    }
    #inputfilter {
        grid-area: inputfilter;
    }
    .linksbuttonadd {
        grid-area: linksbuttonadd
    }
    nav {
        grid-template-areas: "linkphrase linksbuttonadd" "inputfilter inputfilter";
        gap: 1rem;
    }
    .phraseform {
        margin-top: 11rem;
    }
    .phraseList {
        padding-top: 8rem;
    }
}

@media (max-width:362px) {
    .thought-card .content .content_child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}